/* Main style */

body.clusterpress .screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

body.clusterpress .cp-feedback .dashicons {
	top: 0;
	height: 100%;
	width: 20px;
	margin-right: 5px;
	float:left;
	color: #FFF;
	position: absolute;
	padding-top: 18px;
}

body.clusterpress .cp-feedback .dashicons.dashicons-thumbs-down {
	background-color: #d33;
}

body.clusterpress .cp-feedback .dashicons.dashicons-thumbs-up {
	background-color: #8a2;
}

body.clusterpress .cp-feedback .dashicons.dashicons-info {
	background-color: #38a;
}

body.clusterpress .cp-feedback-message {
	padding: 5px;
	margin-left: 30px;
	color: #222;
}

body.clusterpress .cp-feedback {
	width: 100%;
	clear: both;
	background: #fff;
	border: solid 1px #f1f1f1;
	margin: 10px 0;
	padding: 0.5em 0;
	position: relative;
	overflow: hidden;
}

body.clusterpress .clusterpress-liked-posts-widget .cp-feedback .dashicons,
body.clusterpress .clusterpress-liked-comments-widget .cp-feedback .dashicons {
	padding-top: 8px;
}

body.clusterpress div.cp-primary-nav {
	border-right: 1px solid #ddd;
	float: left;
	margin-right: -1px;
}

body.clusterpress div.cp-primary-nav ul li {
	float: none;
	overflow: hidden;
	margin: 0;
}

body.clusterpress div.cp-primary-nav ul li#cp-collapsible span.dashicons {
	transform: rotate( 180deg );
}

body.clusterpress div.cp-primary-nav ul li#cp-collapsible a {
	cursor: e-resize;
}

body.clusterpress div.cp-primary-nav ul.full li#cp-collapsible span.dashicons {
	transform: none;
}

body.clusterpress div.cp-primary-nav ul.full li#cp-collapsible a {
	cursor: w-resize;
}

body.clusterpress div.cp-primary-nav ul.full li span {
	margin-left: 5px;
}

body.clusterpress div.cp-content {
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	overflow: hidden;
	padding: 20px 0 0 20px;
	width: auto;
}

body.clusterpress div.cp-primary-nav ul li a {
	display: block;
	padding: 5px 10px;
	text-decoration: none;
	border: none;
	box-shadow: none;
}

body.clusterpress div.cp-primary-nav ul li.current {
	border: solid 1px #ddd;
	border-right-color: #fff;
	margin-right: -1px;
}

body.clusterpress div.cp-primary-nav .dashicons,
body.clusterpress div.cp-primary-nav .dashicons-before:before {
	vertical-align: text-bottom;
}

/* Nav */
body.clusterpress div.cp-secondary-nav {
	background: transparent;
	clear: both;
	margin: 10px 0 10px;
	overflow: hidden;
	padding-bottom: 1em;
}

body.clusterpress div.cp-secondary-nav ul {
	margin: 0;
	padding: 0;
}

body.clusterpress div.cp-secondary-nav ul li {
	float: left;
	margin: 0;
	list-style: none;
}

body.clusterpress div.cp-secondary-nav ul li {
	margin-right: 5px;
}

body.clusterpress div.cp-secondary-nav ul li a {
	display: block;
	padding: 5px 10px;
	text-decoration: none;
	border: none;
	box-shadow: none;
}

body.clusterpress div.cp-secondary-nav ul li {
	background-color: #f1f1f1;
}

body.clusterpress div.cp-secondary-nav ul li.current {
	background-color: #888;
}

body.clusterpress div.cp-primary-nav ul li.current a,
body.clusterpress div.cp-secondary-nav ul li.current a {
	font-weight: bold;
}

body.clusterpress div.cp-secondary-nav ul li.current a {
	color: #fff;
	text-decoration: none;
	border: none;
}

body.clusterpress div.cp-primary-nav ul a {
	background: none;
	color: inherit;
	opacity: 0.8;
	outline: 0;
}

/* Users/Sites loop */

body.clusterpress .archive .user-list,
body.clusterpress .archive .site-list {
	list-style: none;
	overflow: hidden;
}

body.clusterpress .user-list > li,
body.clusterpress .site-list > li {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body.clusterpress .user-list > li,
body.clusterpress .site-list > li {
	border-bottom: 0;
	padding-bottom: 10px;
	padding-top: 0;
}

body.clusterpress .user-list > li .wrap,
body.clusterpress .site-list > li .wrap {
	background: #fff;
	border: solid 1px #f1f1f1;
	position: relative;
	overflow: hidden;
	padding: 15px 0 14px;
}

body.clusterpress .site-list > li .wrap {
	padding-bottom: 0;
}

body.clusterpress .user-list > li.user,
body.clusterpress .site-list > li.site {
	margin: 5px;
}

/* Build the two column class small up */
@media screen and (min-width: 24em) {
	body.clusterpress .user-list,
	body.clusterpress .site-list {
		margin-left: 0;
	}

	body.clusterpress .user-list > li.user,
	body.clusterpress .site-list > li.site {
		float: left;
	}

	body.clusterpress .user-list > li,
	body.clusterpress .site-list > li {
		padding-top: 0;
		width: 98%;
	}

	body.clusterpress .user-list > li p.last-active,
	body.clusterpress .site-list > li p.last-updated,
	body.clusterpress .site-list > li div.site-categories,
	body.clusterpress .site-list > li div.cp-site-site-actions {
		font-size: 80%;
	}

	body.clusterpress .user-list > li:nth-child(odd),
	body.clusterpress .site-list > li:nth-child(odd) {
		padding-right: 10px;
	}

	body.clusterpress .user-list > li:nth-child(even),
	body.clusterpress .site-list > li:nth-child(even) {
		padding-left: 10px;
	}
}

body.clusterpress .user-list,
body.clusterpress .site-list {
	padding-top: 1em;
}

body.clusterpress .user-list > li,
body.clusterpress .site-list > li {
	border-bottom: none;
}

body.clusterpress .user-list > li .wrap {
	padding-bottom: 1rem;
}

body.clusterpress .user-list > li .user-avatar,
body.clusterpress .site-list > li .site-icon {
	margin: 0 0.5em 0 0.5em;
	float: right;
}

body.clusterpress .site-list > li .site-icon img.no-icon,
body.cp-site .type-clusterpress .cp-site-icon img.no-icon {
	background-color: #888;
	border: none;
}

body.clusterpress .user-list a,
body.clusterpress .site-list a {
	text-decoration: none;
	border: none;
	box-shadow: none;
}

body.clusterpress .user-list > li .user-name,
body.clusterpress .site-list > li .site-name {
	padding: 0;
	padding-left: 1em;
	margin: 0;
	line-height: 1;
	clear: none;
}

body.clusterpress .user-list > li .user-details,
body.clusterpress .site-list > li .site-details {
	margin-right: 100px;
}

body.clusterpress .user-list > li p.last-active,
body.clusterpress .site-list > li p.last-updated,
body.clusterpress .site-list > li div.site-categories {
	padding-top: 1.8em;
	margin-bottom: 0;
	margin-left: 1em;
	line-height: 20px;
}

@media screen and (min-width: 46.8em) {
	body.clusterpress .user-list > li .user-details,
	body.clusterpress .site-list > li .site-details {
		font-size: 22px;
	}

	body.clusterpress .user-list > li,
	body.clusterpress .site-list > li {
		width: 48%;
	}

	body.clusterpress .site-list > li .wrap {
		min-height: 175px;
	}

	body.clusterpress .site-list > li div.cp-site-site-actions {
		position: absolute;
	}

	body.clusterpress .user-list > li p.last-active,
	body.clusterpress .site-list > li p.last-updated,
	body.clusterpress .site-list > li div.site-categories {
		font-size: 60%;
	}

	body.clusterpress .user-list > li .user-name,
	body.clusterpress .site-list > li .site-name {
		font-size: 90%;
	}
}

body.clusterpress .user-list > li .user-details,
body.clusterpress .site-list > li .site-details {
	margin-right: 100px;
}

body.clusterpress .user-list .wrap,
body.clusterpress .site-list .wrap {
	min-height: 110px;
}

body.clusterpress .user-list > li:nth-child(odd),
body.clusterpress .site-list > li:nth-child(odd) {
		padding-right: 0px;
}

body.clusterpress .user-list > li:nth-child(even),
body.clusterpress .site-list > li:nth-child(even) {
	padding-left: 0px;
}

body.clusterpress .site-list > li div.cp-site-site-actions a {
	text-decoration: none;
	border: none;
	color: inherit;
	box-shadow: none;
}

body.clusterpress .site-list > li div.cp-site-site-actions {
	margin-top: 2rem;
	border-top: dashed 1px #f1f1f1;
	width: 100%;
	clear: both;
	bottom: 0;
}

body.clusterpress .site-list > li div.cp-site-site-actions .button {
	display: inline-block;
	padding: 5px 8px;
	float: right;
}

body.clusterpress .site-list > li div.cp-site-site-actions .button .dashicons {
	margin-right: 0.2em;
}

/* User/Site Profile */
body.cp-user .type-clusterpress .cp-user-header,
body.cp-site .type-clusterpress .cp-site-header {
	overflow: hidden;
	clear: both;
	margin-bottom: 1em;
}

body.clusterpress form.edit-site-settings ul {
	list-style: none;
}

body.cp-user .type-clusterpress .cp-profile-photo,
body.cp-site .type-clusterpress .cp-site-icon {
	float: right;
	margin: 0 0 1em 1em;
}

body.cp-site .type-clusterpress .cp-site-icon a,
body.cp-user .type-clusterpress .cp-profile-photo a,
body.clusterpress form.edit-user-account .cp-edit-avatar a {
	position: relative;
	text-decoration: none;
	border: none;
	box-shadow: none;
	min-height: 150px;
	display: inline-block;
}

body.clusterpress form.edit-user-account .cp-edit-avatar a,
body.clusterpress form.edit-site-settings .cp-site-icon a {
	min-height: 40px
}

body.cp-site .type-clusterpress .cp-site-icon a div.dashicons-edit,
body.cp-user .type-clusterpress .cp-profile-photo a div.dashicons-external,
body.clusterpress form.edit-user-account .cp-edit-avatar a div.dashicons-external {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	display: none;
	background-color: #888;
	opacity: 0.5;
	width: 150px;
	height: 150px;
	color: #FFF;
	font-size: 50px;
	line-height: 150px;
	text-align: center;
}

body.clusterpress form.edit-site-settings .cp-site-icon {
	float: none;
	margin: 0;
}

body.clusterpress form.edit-user-account .cp-edit-avatar a div.dashicons-external,
body.clusterpress form.edit-site-settings .cp-site-icon a div.dashicons-edit {
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-size: 20px;
}

body.cp-site .type-clusterpress .cp-site-icon a:hover div.dashicons-edit,
body.cp-user .type-clusterpress .cp-profile-photo a:hover div.dashicons-external,
body.clusterpress form.edit-user-account .cp-edit-avatar a:hover div.dashicons-external {
	display: block;
}

body.cp-user .type-clusterpress .cp-user-header-content,
body.cp-site .type-clusterpress .cp-site-header-content {
	margin-right: 170px;
	margin-bottom: 1em;
	overflow: hidden;
}

body.cp-user .type-clusterpress .cp-user-header-content p.last-active,
body.cp-site .type-clusterpress .cp-site-header-content p.last-updated,
body.cp-site .type-clusterpress .cp-site-header-content div.site-categories {
	line-height: 20px;
	font-size: 80%;
}

body.cp-user .type-clusterpress .cp-user-header-content div.cp-mention-at-name {
	margin: 1em 0;
}

body.cp-user .type-clusterpress .cp-user-header-content div.cp-mention-at-name code {
	display: inline-block;
	background-color: #f1f1f1;
	border: solid 1px #ddd;
	font-size: 120%;
	padding: 0 0.5em;
}

body.cp-user .type-clusterpress .cp-user-header-content p.cp-mention-at-description {
	display: none;
	margin-top: 1em;
	font-style: italic;
}

body.cp-user .type-clusterpress .cp-user-header-content div.cp-mention-at-name a {
	text-decoration: none;
	box-shadow: none;
	border: none;
}

body.cp-user .type-clusterpress .cp-user-header-content div.cp-mention-at-name a .dashicons {
	vertical-align: text-top;
}

body.cp-site .type-clusterpress .cp-site-header-content div.cp-site-site-actions {
	margin-top: 1em;
	padding: 1em 0;
	overflow: hidden;
}

body.cp-site .type-clusterpress .cp-site-header-content div.cp-site-site-actions .button {
	padding: 0.5em 1em;
	border: solid 1px #ccc;
}

body.cp-user .type-clusterpress h2 div.cp-sites-followed-actions .bulk-read,
body.cp-user .type-clusterpress h2 div.cp-interactions-mention-actions .bulk-read {
	padding: 0.5em 0.5em;
	border: solid 1px #ccc;
	vertical-align: middle;
}

body.cp-user .type-clusterpress h2 div.cp-sites-followed-actions,
body.cp-user .type-clusterpress h2 div.cp-interactions-mention-actions {
	float: right;
}

body.cp-user .type-clusterpress h2 div.cp-sites-followed-actions .bulk-read,
body.cp-user .type-clusterpress h2 div.cp-interactions-mention-actions .bulk-read {
	display: inline-block;
	font-size: 60%;
}

body.cp-site .type-clusterpress .cp-site-header-content div.cp-site-site-actions .button a,
body.cp-user .type-clusterpress h2 div.cp-sites-followed-actions a,
body.cp-user .type-clusterpress h2 div.cp-interactions-mention-actions a {
	text-decoration: none;
	border: none;
	box-shadow: none;
	color: inherit;
}

body.cp-site .type-clusterpress .cp-site-header-content div.cp-site-site-actions .button:hover,
body.cp-user .type-clusterpress h2 div.cp-sites-followed-actions .bulk-read:hover,
body.cp-user .type-clusterpress h2 div.cp-interactions-mention-actions .bulk-read:hover {
	background-color: #888;
}

body.cp-site .type-clusterpress .cp-site-header-content div.cp-site-site-actions .dashicons {
	vertical-align: text-top;
	margin-right: 0.2em;
}

body.cp-site .type-clusterpress .cp-site-header-content div.cp-site-site-actions .button:hover a,
body.cp-site .type-clusterpress .cp-site-header-content div.cp-site-site-actions .button:hover .dashicons,
body.cp-user .type-clusterpress h2 div.cp-sites-followed-actions .bulk-read:hover a,
body.cp-user .type-clusterpress h2 div.cp-sites-followed-actions .bulk-read:hover .dashicons,
body.cp-user .type-clusterpress h2 div.cp-interactions-mention-actions .bulk-read:hover a,
body.cp-user .type-clusterpress h2 div.cp-interactions-mention-actions .bulk-read:hover .dashicons {
	color: #fff;
}

body.cp-site .type-clusterpress .cp-site-header-content p.cp-site-description {
	line-height: 20px;
}

body.clusterpress div.view-user-profile p.value {
	font-size: 120%;
	margin-bottom: 0;
}

body.clusterpress div.view-user-profile p.label,
body.clusterpress form.edit-user-profile label.label,
body.clusterpress form.edit-user-account label.label,
body.clusterpress form.edit-site-settings label.label,
body.clusterpress form.edit-user-profile p.description,
body.clusterpress form.edit-user-account p.description {
	margin-top: 0;
	font-weight: 40%;
	font-style: italic;
	opacity: 0.5;
}

body.clusterpress div.view-user-profile blockquote {
	border:none;
	box-shadow: none;
	margin-bottom: 1em;
}

body.clusterpress form.edit-user-profile,
body.clusterpress form.edit-site-settings  {
	margin-top: 1em;
}

body.clusterpress form.edit-user-profile label.label,
body.clusterpress form.edit-user-account label.label,
body.clusterpress form.edit-site-settings label.label,
body.clusterpress #password {
	display: block;
	margin-bottom: 1em;
}

/* User Account */
body.clusterpress form.edit-user-account .required {
	color: #e35b5b;
}

body.clusterpress input.hidden {
	display: none;
}

body.clusterpress #password input {
	width: 25em;
}

body.clusterpress #pass-strength-result {
	background-color: #eee;
	border: 1px solid #ddd;
	color: #23282d;
	margin: -2px 5px 5px 1px;
	padding: 3px 5px;
	text-align: center;
	width: 25em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	opacity: 0;
}

body.clusterpress #password button.wp-cancel-pw,
body.clusterpress #password button.wp-hide-pw {
	line-height: 20px;
}

body.clusterpress #pass-strength-result.short {
	background-color: #f1adad;
	border-color: #e35b5b;
	opacity: 1;
}

body.clusterpress #pass-strength-result.bad {
	background-color: #fbc5a9;
	border-color: #f78b53;
	opacity: 1;
}

body.clusterpress #pass-strength-result.good {
	background-color: #ffe399;
	border-color: #ffc733;
	opacity: 1;
}

body.clusterpress #pass-strength-result.strong {
	background-color: #c1e1b9;
	border-color: #83c373;
	opacity: 1;
}

body.clusterpress #pass1.short,
body.clusterpress #pass1-text.short {
	border-color: #e35b5b;
}

body.clusterpress #pass1.bad,
body.clusterpress #pass1-text.bad {
	border-color: #f78b53;
}

body.clusterpress #pass1.good,
body.clusterpress #pass1-text.good {
	border-color: #ffc733;
}

body.clusterpress #pass1.strong,
body.clusterpress #pass1-text.strong {
	border-color: #83c373;
}

body.clusterpress .pw-weak {
	display:none;
	margin-bottom: 1em;
}

body.clusterpress .indicator-hint {
	padding-top: 8px;
}

body.clusterpress #pass1-text,
body.clusterpress .show-password #pass1 {
	display: none;
}

body.clusterpress .show-password #pass1-text {
	display: inline-block;
}

body.clusterpress div.view-user-posts,
body.clusterpress div.view-user-comments,
body.clusterpress div.view-user-likes,
body.clusterpress div.view-user-mentions,
body.clusterpress div.view-site-posts,
body.clusterpress div.view-site-followed-posts {
	background: transparent;
	clear: both;
	margin: 10px 0 10px;
	overflow: hidden;
}

body.clusterpress div.view-user-posts ul,
body.clusterpress div.view-user-comments ul,
body.clusterpress div.view-user-likes ul,
body.clusterpress div.view-user-mentions ul,
body.clusterpress div.view-site-posts ul,
body.clusterpress div.view-site-followed-posts ul {
	margin: 0;
	padding: 0;
}

body.clusterpress div.view-user-posts ul li,
body.clusterpress div.view-user-comments ul li,
body.clusterpress div.view-user-likes ul li,
body.clusterpress div.view-user-mentions ul li,
body.clusterpress div.view-site-posts ul li,
body.clusterpress div.view-site-followed-posts ul li {
	padding: 1.8em 0;
	list-style: none;
	border-bottom: solid 1px #ddd;
	margin: 0;
}

body.clusterpress div.view-user-posts ul li:last-child,
body.clusterpress div.view-user-comments ul li:last-child,
body.clusterpress div.view-user-likes ul li:last-child,
body.clusterpress div.view-user-mentions ul li:last-child,
body.clusterpress div.view-site-posts ul li:last-child,
body.clusterpress div.view-site-followed-posts ul li:last-child {
	border-bottom: none;
}

body.clusterpress div.view-user-posts ul li,
body.clusterpress div.view-user-comments ul li,
body.clusterpress div.view-user-likes ul li,
body.clusterpress div.view-user-mentions ul li,
body.clusterpress div.view-site-posts ul li,
body.clusterpress div.view-site-followed-posts ul li {
	margin-right: 5px;
	box-shadow: none;
}

body.clusterpress div.view-user-mentions ul li.new-mention {
	border-left: solid 3px #d54e21;
	padding-left: 1em;
}

body.clusterpress div.view-user-posts ul li .cp-site-post-actions a,
body.clusterpress div.view-site-posts ul li .cp-site-post-actions a,
body.clusterpress div.view-user-likes ul li .cp-site-post-actions a,
body.clusterpress div.view-user-comments ul li .cp-site-comment-actions a,
body.clusterpress div.view-user-likes ul li .cp-site-comment-actions a,
body.clusterpress div.view-user-mentions ul li .cp-interactions-mention-actions a,
body.clusterpress div.view-site-followed-posts ul li .cp-sites-followed-actions a {
	display: inline-block;
	padding: 5px 10px;
	text-decoration: none;
	color: inherit;
	border: none;
	box-shadow: none;
}

body.clusterpress div.view-user-posts ul li .cp-site-post-actions .comments-link:before,
body.clusterpress div.view-user-posts ul li .cp-site-post-actions .edit-link:before,
body.clusterpress div.view-site-posts ul li .cp-site-post-actions .comments-link:before,
body.clusterpress div.view-site-posts ul li .cp-site-post-actions .edit-link:before,
body.clusterpress div.view-user-likes ul li .cp-site-post-actions .edit-link:before,
body.clusterpress div.view-user-likes ul li .cp-site-post-actions .comments-link:before,
body.clusterpress div.view-user-comments ul li .cp-site-comment-actions .edit-link:before,
body.clusterpress div.view-user-likes ul li .cp-site-comment-actions .edit-link:before {
	content: '';
}

body.clusterpress div.view-user-posts ul li h3.cp-post-title a,
body.clusterpress div.view-site-posts ul li h3.cp-post-title a,
body.clusterpress div.view-user-likes ul li h3.cp-post-title a {
	text-decoration: none;
	color: inherit;
	border: none;
	box-shadow: none;
}

body.clusterpress div.view-user-posts ul li .cp-site-post-actions .dashicons,
body.clusterpress div.view-site-posts ul li .cp-site-post-actions .dashicons,
body.clusterpress div.view-user-likes ul li .cp-site-post-actions .dashicons,
body.clusterpress div.view-user-comments ul li .cp-site-comment-actions .dashicons,
body.clusterpress div.view-user-likes ul li .cp-site-comment-actions .dashicons,
body.clusterpress .cp-site-site-actions .dashicons {
	vertical-align: middle;
}

body.clusterpress div.view-user-mentions ul li .cp-interactions-mention-actions .dashicons,
body.clusterpress div.view-site-followed-posts ul li .cp-sites-followed-actions .dashicons {
	vertical-align: text-top;
}

body.clusterpress div.view-user-comments ul li p.cp-comment-meta,
body.clusterpress div.view-user-likes ul li p.cp-comment-meta,
body.clusterpress div.view-site-followed-posts ul li p.post-meta {
	margin-top: 0;
	font-weight: 40%;
	font-style: italic;
	opacity: 0.5;
}

/* form elements */
body.clusterpress form.edit-user-profile textarea,
body.clusterpress form.edit-user-profile input[type=text] {
	width: 100%;
}

body.clusterpress form.cp-form {
	padding: 1em 0;
	clear: both;
	overflow: hidden;
}

body.clusterpress form.cp-form .cp-form-section {
	width: 30%;
	float: right;
	margin-left: 1em;
}

body.clusterpress form.cp-form .cp-search-area input[type=search],
body.clusterpress form.cp-form .cp-form-section select {
	width: 75%;
	line-height: 100%;
	vertical-align: middle;
}

body.clusterpress form.cp-form .cp-search-area input[type=search] {
	display: inline-block;
}

body.clusterpress form.cp-form .cp-form-section button[type=submit] {
	padding: 0.428571429rem;
}

body.clusterpress table.user-table th {
	text-align: left;
}

body.clusterpress table.user-table .cp-member {
	padding-left: 1em;
}

body.clusterpress table.user-table .cp-member img.avatar {
	float:left;
	margin-right: 5px;
	border: none;
	vertical-align: middle;
}

body.clusterpress table.user-table .cp-member a {
	text-decoration: none;
	border: none;
	box-shadow: none;
	font-weight: normal;
}

body.clusterpress table.user-table .cp-member h3 {
	margin: 0;
	font-size: 100%;
	display: inline-block;
	line-height: 1;
	vertical-align: bottom;
}

body.clusterpress table.user-table .cp-member h3.no-avatar {
	vertical-align: inherit;
}


body.clusterpress table.user-table .cp-checkbox {
	width: 1.5em;
	padding: 0;
	padding-left: 0.3em;
}

body.clusterpress form.cp-form .cp-table-actions {
	margin: 1em 0;
	overflow: hidden;
	clear: both;
}

body.clusterpress form.cp-form .cp-actions-area {
	float: left;
}

/* pagination */
body.clusterpress .cp-pagination {
	overflow: hidden;
	clear:both;
}

body.clusterpress .cp-pagination.top {
	border-bottom: solid 1px #ddd;
}

body.clusterpress .cp-pagination.bottom {
	border-top: solid 1px #ddd;
}

body.clusterpress .cp-pagination .cp-total-count {
	float: left;
	line-height: 40px;
}

body.clusterpress .cp-pagination .cp-pagination-links {
	float: right;
}

body.clusterpress .cp-pagination .cp-pagination-links .page-numbers {
	display: none;
}

body.clusterpress .cp-pagination .cp-pagination-links .page-numbers.next,
body.clusterpress .cp-pagination .cp-pagination-links .page-numbers.prev {
	display: block;
}

body.clusterpress .cp-pagination .cp-pagination-links a.next,
body.clusterpress .cp-pagination .cp-pagination-links a.prev {
	text-decoration: none;
	border: none;
	box-shadow: none;
	height: 40px;
}

body.clusterpress .cp-pagination .cp-pagination-links a.next span,
body.clusterpress .cp-pagination .cp-pagination-links a.prev span {
	border: solid 1px #ddd;
	border-bottom: none;
	line-height: 40px;
	height: 40px;
	width: 40px;
	color: #fff;
	background-color: #888;
}

body.clusterpress .cp-pagination .cp-pagination-links a.next:hover span,
body.clusterpress .cp-pagination .cp-pagination-links a.prev:hover span {
	color: #888;
	background-color: #fff;
}

body.clusterpress .cp-pagination .cp-pagination-links a.next {
	float: right;
}

body.clusterpress .cp-pagination .cp-pagination-links a.prev {
	float: left;
	margin-right: 5px;
}

#wpadminbar .wp-admin-bar-arrow-right {
	display: none;
}

@media screen and (max-width: 600px) {
	#wpadminbar .wp-admin-bar-arrow-right {
		display: block;
	}
}
