body.index_page_clusterpress-about .wp-badge.cp-badge,
body.dashboard_page_clusterpress-about .wp-badge.cp-badge {
	background: #8e3d58 url( '../img/grape-w.svg' );
	background-size: 80px 80px;
	background-repeat: no-repeat;
	background-position: center 20px;
}

body.index_page_clusterpress-about img.cp-about-svg,
body.dashboard_page_clusterpress-about img.cp-about-svg {
	width: 40%;
	display: block;
	margin: 0 auto;
	background-color: #FFF;
}

#adminmenu #toplevel_page_clusterpress-main .wp-menu-image img {
	width: 24px;
	height: 24px;
	padding: 7px 0 0 0;
}

#adminmenu #toplevel_page_clusterpress-main span.cluster-tasks {
	display: inline-block;
	background-color: #d54e21;
	color: #fff;
	font-size: 9px;
	line-height: 17px;
	font-weight: 600;
	margin: -1px 0 0 2px;
	vertical-align: top;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	z-index: 26;
	padding: 0 6px;
}

#adminmenu #toplevel_page_clusterpress-main	a.current span.cluster-tasks {
	background-color: #00b9eb;
	color: #fff;
}

#adminmenu #toplevel_page_clusterpress-main .wp-first-item span.cluster-tasks {
	display: none;
}

#clusterpress-tasks {
	background: #fff;
	border: 1px solid #e5e5e5;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.04);
	box-shadow: 0 1px 1px rgba(0,0,0,0.04);
}

#clusterpress-tasks li.clusterpress-task {
	list-style: none;
	margin: 0;
	padding: 1em 0.4em;
}
#clusterpress-tasks li:not(:first-child) {
	border-top: dotted 1px #f1f1f1;
}

#clusterpress-tasks li.clusterpress-task .task-description {
	text-align: left;
	line-height: 1.3em;
	font-size: 14px;
	padding: 0.4em;
	color: #aaa;
}

#clusterpress-tasks li.clusterpress-task.active .task-description {
	color: #555;
}

#clusterpress-tasks li.clusterpress-task .clusterpress-task-progress {
	background: none;
	border: 1px solid #d1d1d1;
	height: 5px;
	margin: 0 auto;
	margin-bottom: 2px;
	padding: 0;
	overflow: hidden;
	width: 98%;
}

#clusterpress-tasks li.clusterpress-task .clusterpress-task-progress.warning,
#clusterpress-tasks li.clusterpress-task .clusterpress-task-progress.error {
	height: auto;
	padding: 10px;
	font-weight: bold;
}

#clusterpress-tasks li.clusterpress-task .clusterpress-task-progress.error {
	background-color: #fdc;
	border-color: #a00;
	color: #800;
}

#clusterpress-tasks li.clusterpress-task .clusterpress-task-progress.warning {
	background-color: #ffd;
	border-color: #cb2;
	color: #440;
}

#clusterpress-tasks li.clusterpress-task .clusterpress-task-bar {
	background-color: #0073aa;
	width: 0;
	height: 100%;
	z-index: 9;
}

#cp_sites_category_dropdown_container a.button {
	display: inline-block;
	margin: 0;
}

.nav-tab-wrapper a#site-followers::before,
.nav-tab-wrapper a#site-options::before {
	background-image: url( '../img/grape.svg' );
	width: 20px;
	height: 20px;
	background-size: cover;
	vertical-align: text-bottom;
	margin-right: 5px;
	display: inline-block;
	content:'';
}

#clustepress_site_icon_div .cp-site-icon {
	width: 155px;
	margin: 0 auto;
}

#clustepress_site_icon_div .cp-site-icon img.no-icon {
	background-color: #888;
	border: none;
}

#clustepress_site_icon_div .cp-site-icon a {
	position: relative;
	text-decoration: none;
	border: none;
	box-shadow: none;
	min-height: 150px;
	display: inline-block;
}

#clustepress_site_icon_div .cp-site-icon a div.dashicons-edit {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	display: none;
	background-color: #888;
	opacity: 0.5;
	width: 150px;
	height: 150px;
	color: #FFF;
	font-size: 50px;
	line-height: 150px;
	text-align: center;
}

#clustepress_site_icon_div .cp-site-icon a:hover div.dashicons-edit {
	display: block;
}

#wpadminbar .wp-admin-bar-arrow-right {
	display: none;
}

@media screen and (max-width: 600px) {
	#wpadminbar .wp-admin-bar-arrow-right {
		display: block;
	}
}
